//Colors
$light-grey: #525866;
$grey: #424242;
$dark-grey:#30333b;
$coin-color: #A3864E;
$coin-color-light: #d4b272;
$coin-color-dark: #756138;
$coin-color-darker: #725c30;
$coin-white: #C6C4B7;
$arrow-color: #990000;

//Media Sizes
$device-media-small-min-width: 576px;
$device-media-medium-min-width: 768px;
$device-media-large-min-width: 992px;

//Font Sizes
$font-medium-size: 15px;
$font-big-size: 18px;
$font-bigger-size: 20px;
$font-title-size: 36px;
$font-interest-size: 55px;

//Padding Sizes
$padding-small-size: 5px;
$padding-medium-size: $padding-small-size*2;
$padding-big-size: $padding-small-size*4;
$padding-bigger-size: $padding-small-size*6;

//Margin Sizes
$margin-small-size: 15px;
$margin-medium-size: 20px;
$margin-big-size: 50px;
$margin-bigger-size: 80px;
$margin-biggest-size: 100px;