/* FOOTER EMPIEZA */

#flexFooter{
    background-color: $grey;
    font-size: $font-big-size;

    a{color: $coin-color-dark;}
}

#mod{
    margin: auto;
    text-align: center;
}
/* FOOTER TERMINA */
